@font-face {
  font-family: "Code";
  src: url("Code7X5Regular-ypBe.ttf");
}

:root {
    --background-color:   #000000;
    --main-color:         #4FFEC3;
    --accent-color:       #44CDCD;
    --red-color:          #BD0000;
    --darkgreen-color:    #137C50;

    --main-font:          "Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    --accent-font:        "Code", Courier, serif;
    --title-font-size:    12px;
}

body {
  font-family: var(--main-font);
  width: 100%;
  height: 100%;
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 0; /*space from content and border*/
  background-color: var(--background-color);
  color: var(--main-color);
  overflow: hidden;
}
h3 {
  font-family: var(--accent-font);
  font-size: var(--title-font-size);
  padding: 10px 10px 20px 10px;
  border-bottom: 2px solid var(--darkgreen-color);
}

.title {
  top: 0;
  left: 0;
  padding: 2px;
  width: 100%;
  height: 43px;
  background-color: var(--background-color);
  position: relative;
  margin-bottom: 5px;
  font-family: var(--accent-font);
  font-size: var(--title-font-size);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.title-left {
  left: 0px;
  top: 0px;
}
.title-right {
  right: 0px;
  top: 0px;
}
.title-row {
  display: block;
}
.title-cell {
  display: inline-block;
  margin: 0px 25px 2px 0px;
}
.last-title-cell {
  display: inline-block;
  margin: 0px 0px 2px 0px;
}
.key {
  color: var(--red-color);
}
.value {
  color: var(--accent-color);
}
.page {
  width: 98%;
  height: 92vh;
  border: 5px solid var(--main-color);
  border-top: 0px;
  display:block;
  margin: auto;
}
.nav {
  top: 0;
  left: 0;
  padding: 2px;
  width: 100%;
  height: 38px;
  background-color: var(--main-color);
  position: relative;
  font-family: var(--accent-font);
  font-size: var(--title-font-size);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nav-accent {
  border: 2px solid var(--background-color);
  display: inline-block;
  height: 23px;
}
.small-rec {
  width: 24px;
}
.big-rec {
  width: 55px;
}
.bevel {
  box-shadow:
    inset 0 0 2px 0 rgba(255,255,255,.4),
    inset 0 0 3px 0 rgba(0,0,0,.4),
    inset 0 0 3px 5px rgba(0,0,0,.05),
    2px 2px 4px 0 rgba(0,0,0,.25);
}
.row-spacer {
  height: 27px;
  margin: 0px 5px 0px 5px;
  background-color: rgba(0, 0, 0, 0.48);
  flex-grow: 1;
}
.links-container {
  text-align: center;
  padding: 0;
  margin: 0;
}
.brackets-title {
  background-image: linear-gradient(#000, #000),
    linear-gradient(#000, #000),
    linear-gradient(#000, #000),
    linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-size: 5px 2px;
  background-position: top left, top right, bottom left, bottom right;
  border: solid #000;
  text-align: justify;
  border-width: 0 4px;
  display: inline-block;
  vertical-align: top;
  padding: 7px 2px;
}
.links-container li {
  display: inline;
  margin: 1px;
}
.links-container a{
  display: inline;
  margin: 0px 8px 0px 8px;
}
.not-page {
  color: var(--background-color);
  text-decoration: none;
}
.on-page {
  color: var(--darkgreen-color);
  text-decoration: underline;
}
.links-container a:hover{
  color: var(--darkgreen-color);
}
.blinking {
  width: 8px;
  height: 14px;
  position: relative;
  top: 1px;
  background-color: var(--main-color);
  -webkit-animation: blinking 2s infinite;
  animation: blinking 1s infinite;
  display: inline-block;
}
@keyframes blinking {
  0% {
      background-color: transparent;
  }
  49% {
      background-color: transparent
  }
  50% {
      background-color: var(--main-color);
  }
}
.content {
  width: 98%;
  height: 82%;
  margin: auto;
  font-family: var(--main-font);
  font-size: 16px;
}
.content-grid {
  width: 98%;
  height: 82%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
}
.viz-col {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  border: 1px solid var(--darkgreen-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viz {
  background-color: white;
  height: 300px;
  width: 800px;
  border: 1px solid var(--accent-color);
  display: block;
  margin: 10px;
}
.viz-select {
  position: relative;
  width: 300px;
  margin: 10px;
  background-color: transparent;
}
.viz-select:after {
  content: '';
  width: 25.5px;
  height: 23.5px;
  background-image:
    linear-gradient(45deg, transparent 50%, var(--accent-color) 50%),
    linear-gradient(135deg, var(--accent-color) 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 12px) calc(1em - 8px),
    calc(100% - 6px) calc(1em - 8px),
    100% 0;
  background-size:
    6px 10px,
    6px 10px,
    4em 5em;
  background-repeat: no-repeat;
  right: 0px;
  padding: 0px;
  border: 1px solid var(--darkgreen-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
  pointer-events: none;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}
.viz-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 5px;
  float: right;
  font-family: var(--accent-font);
  font-size: var(--title-font-size);
  color: var(--darkgreen-color);
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid var(--accent-color);
  -ms-word-break: normal;
  word-break: normal;
}
.viz-select option {
  font-size: var(--title-font-size);
  color: var(--darkgreen-color);
  font-family: var(--accent-font);
}
.desc-col {
  display: inline-block;
  margin: 0px 0px 0px 10px;
  padding: 10px;
  border: 1px solid var(--darkgreen-color);
  overflow-y: scroll;
}
